/* basic */
html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;

}

header {
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;    
}

/* navbar */
.navbar{
    display: flex;    
    min-height: 10vh;
    align-items: center;
    font-family: 'Nixie One', cursive;
     
}

.navbar .left-nav{
    width: 60%;
    padding-left: 2%;
    font-size: 1.8rem;
}

nav{
    width: 40%;
    text-align: center;
}

nav ul{
    display: flex;
    /* justify-content: space-around; */
}
html {
    background-color: #FFF0DB;
    color: #565656;
    transition: background-color .7s linear;

}
* {
    margin: 0;
    box-sizing: border-box;
}

.nav-tab{
    flex: 1;
    letter-spacing: 0.2rem;
    position: relative;
    width: min-content;
}

.logo-text {
    font-family: 'Italianno', cursive;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.nav-link {
    /* border-style: solid;
    border-image-source: url('./toppng.com-decorative-line-png-1300x238.svg');
    border-width: 15px;
    border-image-slice: 0% 0% 100% 0%;  */
}


.floral-line {
    pointer-events: none;
}
#floral-line-about {
    stroke-dasharray:   10000;
    stroke-dashoffset: 5000;
    stroke: black;
    stroke-width: 50;
    fill: none;
    transition: stroke-dashoffset 0.5s ease-in;
}



/* slogan */
.slogan-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
    top: 20%;
    height: 40%;
}

.slogan-container {
    animation: 1s ease-in appear;
    grid-column: 7 / 10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Noto Serif Display', cursive;
    font-size: 1.5rem;
    position: relative;
}
.slogan {
    background-color: #565656;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
        65deg, 
        rgba(255, 255, 255, 0) 40%, 
        rgba(255, 255, 255, 0.4) 50% 51%, 
        rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    background-position: 120% 0;


}

#slogan1 {
    animation: shine 0.8s linear 1s;
}
#slogan2 {
    background-color: goldenrod;
    animation: shine 0.8s linear 1.4s;
}
#slogan3 {
    animation: shine 0.8s linear 1.8s;
}

@keyframes shine {
    from {
        background-position: 120% 0;
    }
    to {
        background-position: -80% 0;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* watermark */
.watermark-container {
    width: 100%;
    position: absolute;
    bottom: 2.5%;
    display: flex;
    justify-content: center;
}
.watermark {
    font-family: 'Italianno', cursive;
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

/* preloader */
.preloader-container{
    background-color: #f6cfe2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 999;
}

.preloader-img{
    width: 15%;
}

.preloader-exit-animation{    
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 2s;
}


/* projects page */
#projects-page {
    background-color: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#projects-cards-container {
    display: flex;
    /* flex-flow: row;
    flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
}

.projects-cards {
    flex-shrink: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    height: 80%;
    display: flex;
} 


.photo-container {
    width: 70%;
    height: 100%;
}
.project-photo {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;

}

#arrow-container {
    width: min-content;
    position: relative;
    left: 30%;
    background-color: #f6cfe2;
}

.projects-cards-content {
    border: solid 1px black;
    width: 100%;
    height: 100%;
    display:flex;
    background-color: #f6cfe2;
}
#projects-cards-content-center {
    cursor: pointer;
    transition: transform 0.35s ease-in-out;
}
#projects-cards-content-center:hover {
    transform: scale(1.2);
}

/* about page */
.about-page{
    background-color: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-page-text-container{
    background-color: #FFCBD6;
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.8rem;
    box-shadow: 10px 10px 10px #DCAEB7;
    transition: width .8s;
}

.about-page-text-container p{
    color: #565656;
}

.about-page-text-container a{
    cursor: default;
}

.shrink{
    width: 20%;
}

.about-cursor{
    cursor: pointer !important;
}

/* contact page */
.contact-page{
    background-color: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-container{
    width: 60%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-container a{
    flex: 1;
}

.icon-container img{
    width: 40%;
    height: 40%;
}

/* end page */
.end-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.end-text{
    font-size: 4rem;
}



